

<div class="text-center cor-secao">
<br/>
    <h2 class="font-weight-bold titulo-categoria">Encontre uma empresa por categoria:</h2>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">A</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
        <span class="align-text-top">B</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">C</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">D</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">E</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">F</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">G</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">H</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">I</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">J</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">K</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">L</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">M</span>
        </button> 
    </div>

    <div class="col-sm-12 mt-2">
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">N</span>
        </button>    
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">O</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">P</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">Q</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">R</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">S</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">T</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">U</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">V</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">W</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">X</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">Y</span>
        </button>
        <button type="submit" class="btn btn-outline-primary mr-1">
            <span class="align-text-top">Z</span>
        </button>
    </div> 

</div>

