<div class="tamanho-section cor-secao">
    <section class="cor-secao">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 mauto all-6">
                    <h1 class="f-300 f-26 border-bottom-h text-center">
                        <strong class="tag text-white text-center">Classifica</strong>
                        <strong class="tage">e</strong>
                    </h1>
                    <br />
                    <p class="text-white">
                        É uma plataforma digital que auxilia na divulgação de
                        Empresas e seus segmentos.
                    </p>

                </div>

                <div class="col-2 text-center all-6 mauto">
                    <ul class="nav flex-column nopadding">
                        <li class="nav-item">
                            <h3 class="f-300 f-26 border-bottom-h text-center text-white">Informação</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Anuncie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Planos e Preços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Dúvidas</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2 text-center all-6 mauto">
                    <ul class="nav flex-column nopadding">
                        <li class="nav-item">
                            <h3 class="f-300 f-26 border-bottom-h text-center text-white">Legal</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Termos & condições</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Política de privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Informação sobre dereitos autoriais</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2 text-center all-6 mauto">
                    <ul class="nav flex-column nopadding">
                        <li class="nav-item">
                            <h3 class="f-300 f-26 border-bottom-h text-center text-white">Ajuda</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Suporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Contato</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2 text-center all-6">
                    <h3 class="f-300 f-26 border-bottom-h text-center text-white">Siga-Nos</h3>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="rodape">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div><br /></div>
                <h4 class="tag text-white text-center">Desenvolvido por ©Classificae. Todos os direitos reservados.</h4>
            </div>
        </div>
    </div>
</section>