.wrapper-content {
    width: 99vw;
    height: 10vh;
    z-index: -9999;
    top: -60px; 
}

// .bg-dark {
//     background-color: #303146 !important;
// }

.tamanho-section {
    height: 30vh;
    padding-top: 40px;
}

.cor-secao {
    background-color: #303146 !important;
}

.border-bottom-h {
    border-bottom: 2px solid #DC1864;
    display: inline-block;
    padding-bottom: 7px;
}

// .titulo {
//     // background-color: #303146 !important;
//     font-size: 30pt;
//     color: #303146;
//     text-align: center;
//     text-shadow: 2px 2px #333;
//     font-family: 'Crete Round', serif !important;
// }

.tage {
    font-size: 2-pt;
    color: #FEA21A;
    font-weight: bold;
}

.rodape {
    background-color: #5F75F8;
}


@media screen and (max-width: 800px) {
    .rodape {
        position: relative;
        bottom: -203px;
    }
    .all-6 {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: left !important;
    }
    .mauto {
        margin: auto;
    }
    .nopadding {
        padding: 0 !important;
    }
    .nav-link {
        padding: 0 !important;
    }
}