<!-- <div class="wrapper-content"> -->

<div class="container-fluid corpo-login" style="position: fixed; height: 100%;">

    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center centro-esquerdo">
            <div class="text-center">
                <h1 class="display-1">
                    <strong class="text-white text-center">
                        Simplifique sua Vida!
                    </strong>
                </h1>
                <h2 class="text-white">
                    Recupere seu acesso na sua Plataforma On-Line Classifica<b class="tage">e</b> 
                    e divulgue sua empresa. Milhares de pessoas estão buscando empresas como a sua :D
                </h2>
            </div>
        </div>
  
        <div class="col-sm-6 d-flex justify-content-center centro-direito">
            <div class="col-sm-8">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <form>
                        <h2 class="text-center">Olá não se preocupe! <br/>Vamos recuperar seu acesso ;)</h2>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu E-mail">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos sua conta com mais ninguém.</small>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-pink text-white" (click)="goVoltar()">Voltar</button> | 
                                <button type="submit" class="btn btn-primary text-white">Enviar nova senha</button>
                            </div>
                            
                        </div>
                        <br/>
                        <small id="emailHelp" class="form-text text-muted">* Enviaremos sua senha no seu email.</small>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<!-- </div> -->
