
   <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark header fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h1 style="padding-top: 10%;">
          <b class="tag-header text-white">Classifica</b>
          <b class="tage-header">e</b>
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto font-header">
          <li class="nav-item">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <a class="nav-link text-white"></a> 
          <li class="btn btn-primary" (click)="goAnuncie()">Anuncie</li>
          <a class="nav-link text-white">|</a>
          <li class="btn btn-pink text-white" (click)="goLogin()">Acessar Conta</li>
      </ul>
    </div>
  </div>
</nav>
