
<app-header></app-header>
<div class="wrapper-content"></div>

<div class="container-fluid bg_img">
   
    <div class="row mt-2">
        <div class="col-5"></div>
        <div class="col-6">
            <div><br/><br/></div>

            <h1 class="text-center" style="padding-top: 10%;">
                <b class="text-center titulo font-weight-bold tag">Anuncie no Classifica</b>
                <b class="text-center titulo font-weight-bold tage">e</b>
            </h1>

            <h2 class="text-center">Faça parte desta plataforma de oportunidades e se destaque na sua região!  <br/>
                Faça bons negócios e melhore suas oportunidades.
            </h2>

        </div>
        <div class="col-1"></div>
    </div>
</div>
<div><br/><br/></div>
<section>
    <div class="container-fluid">
         <div class="text-center">

            <div class="row">
                <div class="col-sm-4">
                    <h2 class="f-300 f-26 border-bottom-h"><strong class="titulo-anuncio">Opções </strong><span class="titulo-anuncio-laranja"> de Planos</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-3 text-center row d-flex">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded card-tamanho" style="width: 18rem;">
                        <img src="/assets/imagens/preview.jpg" class="card-img-top tamanho-imagem" alt="empresa">
                        <div class="card-body">
                        <h4 class="card-title">PLANO AUTONOMO</h4>
                        <p class="card-text">Este plano é destinado a profissionais que <b>não possuem CNPJ</b> e que queiram divulgar seu produto ou serviço.</p>
                        <a class="btn btn-link col-12 text-center text-white" (click)="goRepresentante()">Adquirir Plano</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 text-center row d-flex">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded card-tamanho" style="width: 18rem;">
                        <img src="/assets/imagens/58087.jpg" class="card-img-top tamanho-imagem" alt="empresa">
                        <div class="card-body">
                        <h4 class="card-title">PLANO EMPRESA</h4>
                        <p class="card-text">Este plano é destinado a empreendedores que <b>possuem o CNPJ ativo</b> e que queiram divulgar seu negócio.</p>
                        <a class="btn btn-link col-12 text-center text-white" (click)="goRepresentante()">Adquirir Plano</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</section>
<br/><br/>
<section class="cor-secao">
    <div class="container-fluid">
        <div class="text-center">
            <div><br/><br/></div>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="f-300 f-26 border-bottom-h"><strong class="titulo-anuncio">Quem </strong><span class="titulo-anuncio-laranja"> Recomenda</span></h2>
                </div>
            </div>
           <div><br/><br/></div>
            <div class="row">
                
                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-5 bg-white justify-content-center" style="max-width: 540px; height: 250px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/assets/imagens/2303069.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h2 class="card-title nomes-testemunho">Nome</h2>
                                    <p class="card-text">
                                        O Classificae trouxe mais oportunidades para o meu negócio! 
                                        Consegui destacar minha empresa e dar maior visibilidade dos meus produtos. 
                                        Recomendo o Classificae para todos!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-5 bg-white justify-content-center" style="max-width: 540px; height: 250px;">
                        <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="/assets/imagens/2303069.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h2 class="card-title nomes-testemunho">Nome</h2>
                                <p class="card-text">
                                    O Classificae é uma plataforma que auxilia a divulgar meu negócio! 
                                    Espero poder melhorar minha visibilidade. Estamos apostando no crescimento e no grande 
                                    potencial do Classificae. Recomendo a plataforma Classificae!
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow-lg p-3 mb-5 bg-white justify-content-start" style="max-width: 540px; height: 250px;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="/assets/imagens/2303069.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h2 class="card-title nomes-testemunho">Nome</h2>
                                    <p class="card-text">O Classificae é uma ótima oportunidade para divulgar meu negócio! 
                                        A plataforma é simples e de facil acesso, desta forma espero alcançar novos clientes.
                                    </p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/><br/>
</section>
<app-footer></app-footer> 