.wrapper-content {
    width: 100vw;
    height: 50vh;
    z-index: -9999;
    top: -100px; 
    
}

.tage {
    color: chocolate;
}

.corpo-login {
    background-color: #563D7C !important;
}

.btn-pink {
    background: #DC1864;
}

.centro-direito {
    position:absolute;
    top:5%;
    left:50%;
}

.centro-esquerdo {
    position:absolute;
    top:30%;
    right:50%;
}