<!-- <div class="wrapper-content"> -->

    <div class="container-fluid corpo-login" style="position: fixed; height: 100%;">
        <div class="row">
            <div class="col-sm-6 d-flex justify-content-center centro-esquerdo">
                <div class="text-center">
                    <h1 class="display-4">
                        <strong class="text-white text-center">
                            Seja Bem Vindo! <br/>A Plataforma On-Line Classifica<b class="tage">e</b> 
                        </strong>
                    </h1>
                    <h2 class="text-white">
                        Realize seu cadastro e descubra um jeito simples e eficiente para divulgar seu negócio
                    </h2>
                </div>
            </div>

            <div class="col-sm-6 d-flex justify-content-center centro-direito">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <form>
                                <h1 class="text-center">Cadastre-se e tenha acesso a plataforma ;)</h1>
                                <h2 class="text-left">1 - Crie sua conta:</h2>
                            
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Insira o nome da sua empresa">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Insira seu e-mail">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="senha" aria-describedby="senha" placeholder="Crie sua senha">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="confirmasenha" aria-describedby="senha" placeholder="Confirme sua senha">
                                </div>

                                <br/>
                                
                                <h2 class="text-left">2 - Selecione o plano:</h2>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <br/>

                                <h2 class="text-left">3 - Insira os detalhes do pagamento:</h2>

                                <div class="form-group">
                                    <img src="../assets/imagens/visto.png" alt="cartão visa" width=50 height=40> | 
                                    <img src="../assets/imagens/mastercard.png" alt="cartão mastercard" width=50 height=40>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="numerocartao" aria-describedby="numerocartao" placeholder="Número do cartão">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="datavalidade" aria-describedby="datavalidade" placeholder="Data de validade">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="codigoseguranca" aria-describedby="codigoseguranca" placeholder="Código de segurança">
                                </div>
                                

                                <br/>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-pink text-white" (click)="goVoltar()">Voltar</button> | 
                                    <button type="submit" class="btn btn-primary text-white">Cadastrar</button>
                                </div>
                            </form>
                            <small id="mensagemlHelp" class="form-text text-muted">* Enviaremos sua senha para o seu email.</small>
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>

<!-- </div> -->

