<div class="col-sm-12">
  <app-header></app-header>
</div>
<div class="container-fluid bg_img elementos-pesquisa">
  <div class="overlay"></div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <h1 class="text-center titulo font-weight-bold">Encontre aqui empresas que irão ajudar você!</h1>
      <br />
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4 pr-0 nopadding">
      <input type="search" class="form-control input-pesquisar text-center" id="pesquisa"
        placeholder="Olá, qual empresa você procura hoje?">
    </div>
    <div class="col-sm-3 nopadding">
      <button type="submit" class="btn btn-pesquisar text-white">
        <span class="material-icons align-text-top">
          search
        </span>
        <span class="align-text-top">Pesquisar</span>
      </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
</div>