<!-- <div class="wrapper-content"> -->

    <div class="container-fluid corpo-login" style="position: fixed; height: 100%;">
        <div class="row">

            <!-- <div class="col-sm-6 d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="display-4">
                        <strong class="text-white text-center">
                            Seja Bem Vindo! 
                        </strong>
                        <br/>
                        <strong class="text-white text-center">
                            A Plataforma On-Line Classifica<b class="tage">e</b> 
                        </strong>
                    </h1>
                    <h2 class="text-white">
                        É uma maneira simples e objetiva que fará com que seus serviços ou produtos sejam divulgados e colocado em evidência.
                    </h2>
                    
                </div>
            </div> -->

            <div class="col-sm-12 d-flex justify-content-center centro">
                <div class="col-sm-10 card shadow-lg p-3 mb-5 bg-white rounded">
                    <form>
                        <h2 class="text-center">Olá, Nome do Usuário ;)</h2>
                        <h3 class="text-center">Preencha os campos para divulgarmos o seu negócio.</h3>
                        
                            <p>
                                <button type="button" class="btn btn-outline-primary col-sm-12" (click)="isCollapsedEmpresa = !isCollapsedEmpresa"
                                        [attr.aria-expanded]="!isCollapsedEmpresa" aria-controls="CollapsedEmpresa">
                                  Dados da Empresa
                                </button>
                            </p>
                            <div id="CollapsedEmpresa" [ngbCollapse]="isCollapsedEmpresa">
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Qual o nome da empresa?" readonly>
                                    </div>
                                    <div class="col-6">
                                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Qual é o e-mail" readonly>
                                    </div>
                                </div>

                                <br/>
                                <div class="form-row">
                                    <div class="col-4">
                                        <input type="tel" class="form-control" id="Telefone" aria-describedby="Telefone" placeholder="Qual é o Telefone?">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" id="HorarioAtendimento" aria-describedby="HorarioAtendimento" placeholder="Dia / Horário de atendimento?">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" id="Site" aria-describedby="Site" placeholder="Qual é o endereço do site?">
                                    </div>
                                </div>

                                <br/>

                                <div class="form-row">
                                    <div class="col-4">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="Logo">
                                            <label class="custom-file-label" for="Logo">Selecione logotipo</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <select class="custom-select">
                                            <option selected>Empresa possui</option>
                                            <option value="1">CNPJ</option>
                                            <option value="2">CPF</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" id="NumeroInscricao" aria-describedby="NumeroInscricao" placeholder="Qual o número do cnpj ou cpf?">
                                    </div>
                                </div>

                            </div>
                            
                            <p>
                                <button type="button" class="btn btn-outline-primary col-sm-12" (click)="isCollapsedEndereco = !isCollapsedEndereco"
                                        [attr.aria-expanded]="!isCollapsedEndereco" aria-controls="CollapsedEndereco">
                                  Endereço da Empresa
                                </button>
                            </p>
                            <div id="CollapsedEndereco" [ngbCollapse]="isCollapsedEndereco">
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Cep" aria-describedby="Cep" placeholder="Qual é o Cep?">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Estado" aria-describedby="Estado" placeholder="Qual é o Estado?">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Cidade" aria-describedby="Cidade" placeholder="Qual é a Cidade?">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Bairro" aria-describedby="Bairro" placeholder="Qual é o Bairro?">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Rua" aria-describedby="Rua" placeholder="Qual é a Rua?">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Numero" aria-describedby="Numero" placeholder="Qual é o Número?">
                                    </div>
                                </div>
                            </div>

                            <p>
                                <button type="button" class="btn btn-outline-primary col-sm-12" (click)="isCollapsedRedeSocial = !isCollapsedRedeSocial"
                                        [attr.aria-expanded]="!isCollapsedRedeSocial" aria-controls="CollapsedRedeSocial">
                                  Dados da Rede Social da Empresa
                                </button>
                            </p>
                            <div id="CollapsedRedeSocial" [ngbCollapse]="isCollapsedRedeSocial">
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Facebook" aria-describedby="Facebook" placeholder="Qual é o endereço do Facebook?">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="WhatsApp" aria-describedby="WhatsApp" placeholder="Qual é o WhatsApp?">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="YouTube" aria-describedby="YouTube" placeholder="Qual é o endereço do YouTube?">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="Instagram" aria-describedby="Instagram" placeholder="Qual é o endereço do Instagram?">
                                    </div>
                                </div>
                            </div>

                            <p>
                                <button type="button" class="btn btn-outline-primary col-sm-12" (click)="isCollapsedDescricao = !isCollapsedDescricao"
                                        [attr.aria-expanded]="!isCollapsedDescricao" aria-controls="CollapsedDescricao">
                                  Descrição da Empresa
                                </button>
                            </p>
                            <div id="CollapsedDescricao" [ngbCollapse]="isCollapsedDescricao">
                                <div class="form-horizontal">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <textarea class="form-control" rows="3" id="Descricao" aria-describedby="Descricao" placeholder="Insira uma descrição resumida da empresa" required></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class="form-control" rows="3" id="DescricaoDetalhada" aria-describedby="DescricaoDetalhada" placeholder="Insira uma descrição detalhada da empresa" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <p>
                                <button type="button" class="btn btn-outline-primary col-sm-12" (click)="isCollapsedImagem = !isCollapsedImagem"
                                        [attr.aria-expanded]="!isCollapsedImagem" aria-controls="CollapsedImagem">
                                  Imagens do Produto da Empresa
                                </button>
                            </p>
                            <div id="CollapsedImagem" [ngbCollapse]="isCollapsedImagem">

                                subir imagens 

                            </div>

                        <br/>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-pink text-white" (click)="goVoltar()">Voltar</button> | 
                            <button type="submit" class="btn btn-primary text-white">Cadastrar</button>
                        </div>

                       

                    </form>
                  
                </div>
            </div> 

        </div>
    </div>

<!-- </div> -->

<!-- 

        //RELACIONAMENTO
        public int UsuarioID { get; set; }
        public int CategoriaID { get; set; }
        public int SubCategoriaID { get; set; }

-->
