.wrapper-content {
    width: 100vw;
    height: 50vh;
    z-index: -9999;
    top: -100px; 
}

.tage {
    color: chocolate;
}

.corpo-login {
    background-color: #563D7C !important;
}

.btn-pink {
    background: #DC1864;
}

.texto {
    padding: 30%;
}

.centro {
    position:absolute;
    top:10%;
}
